@use 'sass:math';

* {
    box-sizing: border-box;
    cursor: none;    
    letter-spacing: -0.16px;

    &::selection {
        background: var(--clr-yellow);
    }
}

body {
    background: var(--clr-primary) !important;
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
    cursor: none !important;

    --clr-blue: #a1d1e2;
    --clr-ivory: #fcf1a9;
    --clr-yellow: #f6f62a;
    --clr-green: #befd92;
    --clr-pink: #fbabab;
    --clr-red: #D33A3A;
    --clr-primary: #e7e7e2;

    --clr-reversal: #1a1a1a;
    --clr-reversal-op: #e8e8e830;
    --clr-basic: #ffffff;

    --clr-gray-0: #f5fafc;
    --clr-gray-1: #e5e8e9;
    --clr-gray-2: #dcdfe0;
    --clr-gray-3: #cdd1d2;
}

$break-size: 720;

@function vw($target) {
    @if type-of($target)==number {
        @return (math.div(($target * 100), $break-size)) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (math.div(($value * 100), $break-size)) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    background: var(--clr-reversal-op);
    box-shadow: 0 8px 32px 0 rgba(219, 238, 244, 0.24);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .inner {
        display: flex;
        align-items: center;
        padding: 20px 50px;
        border-bottom: 1px solid var(--clr-gray-3);

        h1 {
            font-size: 32px;
            font-family: 'Giants-Inline';
            text-transform: uppercase;
        }
    }

    .nav {
        display: flex;
        margin-left: auto;
    }

    .nav {
        .nav-item {
            height: fit-content;
            margin-left: 16px;
            padding: 8px;
            border-radius: 8px;
            .nav-link {
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Giants-Inline';
                color: var(--clr-reversal) !important;                                
            }
            &.active {
                font-weight: bold;
                background: var(--clr-yellow) !important;
                color: var(--clr-reversal) !important;
            }
        }        
    }   
}

#footer {
    display: none;
    background: var(--clr-reversal);
    color: var(--clr-basic);
}

@media screen and (max-width: 1400px) {
    #header {
        .inner {
            flex-direction: column;
            padding: 20px;
            h1 {
                margin-bottom: 12px;
            }
        }
        .nav {
            margin: auto;
            .nav-item {
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #header {        
        .inner {
            h1 {
                font-size: vw(26);
                margin-bottom: 0;
            }
        }
        .nav {
            display: none;
        }
    }
}