.cursor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    pointer-events: none !important;

    .cursor__default__inner {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: rgba(10, 27, 16, 2.5);
        border: 2px solid #befd92;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .cursor__trace__inner {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4b8d47;
        opacity: 0.25;
        transform: translate(-50%, -50%);
        transition: all 0.04s ease;
    }
}

.cursor--active .cursor__trace__inner {
    transform: scale(0.5) translate(-100%, -100%);
    transition: transform 0.3 ease;
}