@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Roboto+Slab:wght@700&display=swap');

.scroll-icon {
    position: fixed;
    left: 50%;
    bottom: 48px;
    z-index: 1;
    transform: translateX(-50%);
    animation: scrollEffect 2.4s ease-in-out infinite;
    animation-fill-mode: backwards;
    color: var(--clr-reversal);

    .icon {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: 4px;
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5L12.5303 4.46967C12.2374 4.17678 11.7626 4.17678 11.4697 4.46967L12 5ZM12 13L11.4697 13.5303C11.7626 13.8232 12.2374 13.8232 12.5303 13.5303L12 13ZM9.46967 6.46967C9.17678 6.76256 9.17678 7.23744 9.46967 7.53033C9.76256 7.82322 10.2374 7.82322 10.5303 7.53033L9.46967 6.46967ZM13.4697 7.53033C13.7626 7.82322 14.2374 7.82322 14.5303 7.53033C14.8232 7.23744 14.8232 6.76256 14.5303 6.46967L13.4697 7.53033ZM10.5303 10.4697C10.2374 10.1768 9.76256 10.1768 9.46967 10.4697C9.17678 10.7626 9.17678 11.2374 9.46967 11.5303L10.5303 10.4697ZM14.5303 11.5303C14.8232 11.2374 14.8232 10.7626 14.5303 10.4697C14.2374 10.1768 13.7626 10.1768 13.4697 10.4697L14.5303 11.5303ZM3.25 10V14H4.75V10H3.25ZM20.75 14V10H19.25V14H20.75ZM11.25 5V13H12.75V5H11.25ZM11.4697 4.46967L9.46967 6.46967L10.5303 7.53033L12.5303 5.53033L11.4697 4.46967ZM11.4697 5.53033L13.4697 7.53033L14.5303 6.46967L12.5303 4.46967L11.4697 5.53033ZM12.5303 12.4697L10.5303 10.4697L9.46967 11.5303L11.4697 13.5303L12.5303 12.4697ZM12.5303 13.5303L14.5303 11.5303L13.4697 10.4697L11.4697 12.4697L12.5303 13.5303ZM20.75 10C20.75 5.16751 16.8325 1.25 12 1.25V2.75C16.0041 2.75 19.25 5.99594 19.25 10H20.75ZM12 22.75C16.8325 22.75 20.75 18.8325 20.75 14H19.25C19.25 18.0041 16.0041 21.25 12 21.25V22.75ZM3.25 14C3.25 18.8325 7.16751 22.75 12 22.75V21.25C7.99594 21.25 4.75 18.0041 4.75 14H3.25ZM4.75 10C4.75 5.99594 7.99594 2.75 12 2.75V1.25C7.16751 1.25 3.25 5.16751 3.25 10H4.75Z' fill='%23000000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}

@keyframes scrollEffect {
    0% {
        opacity: 0.1;
        transform: translate(-50%, -20%);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0.1;
        transform: translate(-50%, -20%);
    }
}

.wrapper {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

.area {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-reversal);
    
    .target-box {
        max-width: 1400px;
        width: 100%;
        margin: auto;        
    }

    &.a_00 {
        position: relative;        
        flex-direction: column;        
        height: 100vh;                  

        .target-00 {
            overflow: hidden;      
            width: fit-content; 
            margin: inherit;
            .title {                          
                font-size: 120px;     
                line-height: 1.4;                      
                font-weight: 900;
                border-top: 4px solid var(--clr-reversal);
                border-bottom: 4px solid var(--clr-reversal);
                color: var(--clr-reversal);
                text-shadow: 4px 4px 13px rgba(145,149,113,0.6);            
                span {
                    display: block;
                }
            }

            h3 {
                font-size: 30px;
                font-weight: 600;
                padding: 20px 0;
                border-bottom: 4px solid var(--clr-reversal);
            }
            
            @keyframes growth {
                0% {
                    opacity: 0.7;
                    transform: scale(1);
                }

                50% {                    
                    opacity: 1;
                    transform: scale(1.1);
                }

                100% {
                    opacity: 0.7;       
                    transform: scale(1);
                }
            }
        }             

        .rolling-container {      
            display: flex;
            align-items: center;
            width: 100% !important;
            width: auto;
            z-index: 1;            
            padding: 20px 0;
            transform: translate(-50%, 0);                        
            transform-origin: center center;

            .rolling-box {
                flex: 0 0 auto;                    
                width: 100%;
                height: 100%;
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0.5px;
                white-space: nowrap;    
                color: var(--clr-reversal);
                transform: translateY(-50%);                
                animation: flowHorizontal 14s linear infinite;
                animation-fill-mode: backwards;
                transform-origin: center center;        
                margin: 0;         
            }
                
            @keyframes flowHorizontal {
                0% {
                    transform: translateX(100%);
                }
                50% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }                            
        }
    }

    &.a_01 {
        .target-01 {
            display: flex;            
            justify-content: center;
            word-break: keep-all;
            .introduce-box {                
                h2 {
                    font-size: 40px;
                    line-height: 50px;                    
                    font-weight: bold;                    
                    margin-bottom: 40px;
                }
                p {
                    font-size: 20px;
                    line-height: 34px;
                    font-weight: 500;                         
                }
                .profile-text {           
                    flex-shrink: 0;
                }                
                .strength-box {
                    margin-top: 30px;
                }
                .underline {
                    display: inline-block;
                    font-weight: bold;
                    transition: all 0.2s ease-in;                    
                }
            }
            
            .elem1 {
                position: relative;
                flex-shrink: 0;
                width: 320px;     
                max-width: 320px;                                                         
                margin-left: 50px;                   
            }

            .btn-career {
                display: inline-block;
                margin-top: 40px;                
                border-radius: 8px;
                text-decoration: underline;
            }
        }
    }

    &.a_02 {        
        position: relative;
        width: 100%; 
        margin: 120px 0;       
        .career {
            .career-text {                            
                display: flex;
                align-items: center;                
                justify-content: space-between;            
                max-width: 1200px;
                width: 100%;
                margin: 0 auto 80px;
                &:last-child {
                    margin-bottom: 0;
                }
                .company {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex: 1;
                    padding-right: 30px;
                    h3 {
                        display: none;
                        font-size: 18px;
                        line-height: 22px;                                            
                    }
                    .card-item-open {
                        width: 200px;
                    }
                }   
                .desc {
                    font-size: 18px;
                    flex: 2;

                    .works-text {
                        display: flex;
                        line-height: 32px;
                        strong {
                            flex-shrink: 0;
                            font-weight: bold;
                            padding-right: 30px;
                        }
                    }
                }         
            }
        }
    }

    &.a_03 {
        height: 50vh; 
        align-items: center;
        justify-content: center;    
        padding: 80px 40px;
        .target-03 {
            width: auto;            
        }
        h3 {
            display: inline-block;
            font-size: 22px;
            font-weight: bold;
            background: var(--clr-reversal);
            color: var(--clr-basic);
            padding: 8px;
            margin-bottom: 22px;            
        }

        .skill-box {          
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 40px;
            font-size: 22px;                    
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 110px;
                margin: 10px;
                .skill {
                    display: block;   
                    font-weight: bold;                 
                    padding-top: 14px;
                }
            }
        }                                
    }

    &.a_04 {
        position: relative;
        top: 0;
        left: 0;
        height: 150vh;
        background-attachment: fixed;

        .first-container {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;          
            flex-direction: column;

            h1 {
                font-size: 96px;
                font-weight: bold;
                text-shadow: 1px -1px 5px var(--clr-gray-0);             
            }
        }

        .transition {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
       
            .second-container {
                overflow: hidden;
                opacity: 0;
                height: 100vh;
                position: absolute;
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                color: var(--clr-reversal);
                font-size: 16px;
                line-height: 28px;
                font-weight: bold;
                text-align: center; 
                text-shadow: 1px -1px 5px var(--clr-basic); 
                p {
                    margin: 0;                    
                }            
            }         
        }
    }

    &.a_05 {
        min-height: 100vh;    
        padding: 80px 0;
        h3 {
            display: inline-block;
            font-size: 22px;
            font-weight: bold;
            background: var(--clr-reversal);
            color: var(--clr-basic);
            padding: 8px;
            margin-bottom: 82px;
        }
        .horizontal-container {            
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;             

            .cards-wrap {              
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 1400px;
                margin: auto;

                .card-section {
                    flex-shrink: 0;
                    width: 400px;
                    height: 400px;                  
                    position: relative;
                    margin: 16px;                                                                     
                    background: var(--clr-ivory);

                    .card-inner {                            
                        position: relative;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        color: var(--clr-reversal);
                        padding: 40px;
                        transition: all 1.5s linear;

                        h4 {
                            font-weight: 900;
                            margin-bottom: 20px;
                        }
                        > div {
                            p {                                    
                                font-size: 16px;
                                line-height: 28px;

                                a { 
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    word-break: break-all;
                                    display: block;
                                    padding-left: 8px;
                                    color: #333333;
                                    font-weight: 500;
                                }
                                span {display: block;}
                                strong {font-family: 'Noto Sans KR', sans-serif;font-weight: bold;}
                                .underline {
                                    background: var(--clr-pink) !important;
                                    font-weight: bold;                     
                                    padding: 0 8px;
                                    border-radius: 6px;             
                                }
                                &.url-box {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        flex-shrink: 0;
                                    }
                                    a {
                                        color: #0366d6;
                                    }
                                }
                            }                               
                        }
                        &:after {
                            display: block;
                            clear: both;
                            content: '';
                            position: absolute;                                
                            right: 0;
                            top: -16px;
                            width: 64px;
                            height: 64px;
                            background: url("../assets/images/pin.png") center center no-repeat;
                            background-size: auto 100%;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }                        
                }
            }
        }        
    }    

    &.a_07 {
        .target-07 {
            overflow: hidden;
            position: relative;
            max-width: 100vw;
            height: 50vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(https://images.freeimages.com/images/large-previews/b77/running-track-1306518.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            &:before {
                display: block;
                clear: both;
                content: "";
                background: inherit;
                filter: blur(5px);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;                
            }

            .side-box {
                position: absolute;
                top: 0;
                z-index: 1;
                width: 400px;
                height: 100%;
                background: var(--clr-primary);

                &.left-side {
                    left: 0;
                }

                &.right-side {
                    right: 0;
                }
            }

            p {
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;                              
                font-size: 80px;
                font-weight: bold;
                font-family: 'Giants-Inline';
                color: #fff;
                text-shadow: 2px 2px 2px #000; 
            }
        }
    }

    &.a_08 {
        overflow: hidden;
        position: relative;
        height: 100vh;

        .target-08 {            
            .contact-box {       
                position: absolute;
                top: 50%;     
                left: 50%;           
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                h3 {
                    font-size: 80px;
                    font-weight: bold;
                    text-transform: uppercase;
                }  
                .contact-text {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 30px;
                    p {
                        display: flex;
                        font-size: 32px;
                        line-height: 48px;
                        a {
                            display: block;
                            color: #0366d6;
                            padding-left: 8px;
                        }
                    }
                }
            }           
        }

        .rocket-path {        
            overflow: visible;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            transform: translateZ(0);
    
            rect {
                fill: none;
                pointer-events: all;
            }
    
            circle {
                fill: none;
                stroke-width: 0;
            }
    
            path {
                fill: none;
                stroke: transparent;
            }
        }
    }
}

#lightCanvas {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 50%;    
}

@media screen and (max-width: 1400px) {
    .area {
        &.a_01 {
            .target-01 {
                padding: 0 40px;               
            }
        }

        &.a_02 {
            padding: 0 40px;
        }

        &.a_05 {
            .horizontal-container {
                .cards-wrap {
                    width: 100%;                    
                    padding: 0 40px;
                    .card-section {
                        margin: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .area {
        &.a_00 {   
            .target-00 {                
                padding: 0 vw(40);
                .title {                            
                    font-size: vw(120);                    
                    border-top: vw(4) solid var(--clr-reversal);               
                    border-bottom: vw(4) solid var(--clr-reversal);               
                    text-shadow: vw(4) vw(4) vw(13) rgba(145,149,113,0.6);
                    padding-left: 0;
                    background-size: 16% auto;                    
                    span {
                        text-align: center;
                    }
                }         
                h3 {
                    font-size: vw(30);                    
                    padding: vw(20) 0;
                    border-bottom: vw(4) solid var(--clr-reversal);
                }                           
            }             
    
            .rolling-container {
                padding: vw(20) 0;
                .rolling-box {
                    font-size: vw(32);
                    letter-spacing: vw(0.5);                    
                }                                                                
            }
        }

        &.a_01 {
            .target-01 {
                flex-direction: column;
                padding: 0 vw(40);
                .introduce-box {                
                    h2 {
                        font-size: vw(46);
                        line-height: vw(64);                                          
                        margin-bottom: vw(80);                   
                    }
                    p {
                        font-size: vw(32);
                        line-height: vw(56);                      
                    }
                    .strength-box {
                        margin-top: vw(30);
                    }
                }
                
                .elem1 {  
                    width: vw(320);
                    max-width: vw(320);
                    margin-left: vw(50);  
                    margin-top: vw(50);                  
                }
            }
        }

        #lightCanvas {  
            position: inherit;          
            width: vw(300);
            height: vw(300);        
        }

        &.a_02 {
            padding: 0 vw(40);      
            .career {
                .career-text {
                    flex-direction: column;
                    margin-bottom: vw(80);
                    .company {
                        padding-bottom: vw(30);
                        padding-right: 0;
                        h3 {
                            font-size: vw(18);
                            line-height: vw(22);                                            
                        }
                        .card-item-open {
                            width: vw(200);
                        }
                    }   
                    .desc {
                        font-size: vw(18);
                        .works-text {
                            line-height: vw(32);
                            strong {
                                padding-right: vw(30);
                            }
                        }
                    }         
                }
            }                         
        }

        &.a_03 {
            height: auto;
            padding: vw(80) vw(40);            
            h3 {
                font-size: vw(22);
                padding: vw(8);
                margin-bottom: vw(22);
            }
    
            .skill-box {
                gap: vw(40);
                font-size: vw(22);
                > div {
                    width: vw(110);
                    margin: vw(10);
                    .skill {
                        padding-top: vw(14);
                    }
                }
            }                                   
        }

        &.a_04 {    
            .first-container {                
                h1 {
                    font-size: vw(60);                    
                    text-shadow: vw(1) vw(-1) vw(5) var(--clr-gray-0);             
                }
            }
    
            .transition {                
                .second-container {
                    font-size: vw(16);
                    line-height: vw(28);
                    text-shadow: vw(1) vw(-1) vw(5) var(--clr-basic);                      
                }
            }
        }

        &.a_05 {   
            padding: vw(62) 0;         
            h3 {                
                font-size: vw(22);
                padding: vw(8);
                margin-bottom: vw(62);
            }
            .horizontal-container {                            
                .cards-wrap {              
                    width: 100%;                    
                    padding: 0 vw(40);
    
                    .card-section {
                        width: vw(400);
                        height: vw(400);                        
                        margin: vw(16);                        
    
                        .card-inner {                            
                            font-size: vw(24);
                            padding: vw(40);                            
    
                            h4 {
                                font-weight: bold;
                                margin-bottom: vw(20);
                            }
                            > div {
                                p {                                    
                                    font-size: vw(20);
                                    line-height: vw(24);
    
                                    a { 
                                        padding-left: vw(8);                                        
                                    }
                                }                               
                            }
                            &:after {
                                top: vw(-16);
                                width: vw(64);
                                height: vw(64);                                
                            }
                        }      
                    }
                }
            }        
        }

        &.a_07 {
            .target-07 {                
                .side-box {
                    width: vw(400);
                    
                }
    
                p {
                    font-size: vw(60);
                    text-shadow: vw(2) vw(2) vw(2) #000; 
                }
            }
        }

        &.a_08 {    
            .target-08 {            
                .contact-box {                           
                    h3 {
                        font-size: vw(60);                        
                    }  
                    .contact-text {
                        margin-top: vw(30);
                        p {
                            font-size: vw(32);
                            line-height: vw(48);
                            a {
                                padding-left: vw(8);
                            }
                        }
                    }
                }           
            }    
        }
    }
}